@model System.Collections.Generic.IEnumerable<RealityProject.DataAccess.DataModels.Adds.Advertisement>

@{
    ViewBag.Title = "title";
}

<h2 class="display-3">Inzeraty</h2>


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nazev</th>
        <th scope="col">Velikost</th>
        <th scope="col">Typ</th>
        <th scope="col">Cena</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.AdvertisementId</th>
            <td>@item.GetName()</td>
            <td>@item.InsideSize</td>
            <td>@item.HomeType.ToString()</td>
            <td>@item.Price</td>
            <td><a class="btn btn-primary">Edit</a><a class="btn btn-danger">Delete</a></td>
        </tr>
    }

    </tbody>
</table>